# ===========================
# Configuración de la Base de Datos (Ejemplo)
# ===========================

DB_HOST=localhost
DB_PORT=5432
DB_USER=usuario
DB_PASSWORD=password
DB_NAME=databasename
JWT_SECRET=secretodejwt
ZAVU_API_URL=https://api.zavu.../sms/send
ZAVU_API_KEY=tu_token_aqui
